.site-page-header {
    margin-top: 20px;
    border: 1px solid rgb(235, 237, 240);
    background: #fff;
}

.content-button {
    width: 100%;
}

.login-form {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.changePassword-form {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.changePassword-form-button {
    width: 100%;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.register-form {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.register-form-button {
    width: 100%;
}

.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.page-menu {
    float: right;
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}


